<ng-container *ngIf="!loading && jeAktivnaSeja">
  <div>

    <div>
      <h1 class="text-4xl">Dobrodosli v Vprasalnik</h1>
      <span>Vasa sifra: {{ sifraUporabnika }}</span><br/>
      <span>Vase stevilo tock: {{ steviloTock }}</span>
    </div>
<!--    VPRASANJA-->
    <div class="vprasalnik-card">

<!--      NAVODILO-->
      <div *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.navodila].valueOf()">
        <h2>Navodila</h2>
        <span>{{ trenutnoVprasanje.navodilo }}</span><br/>

        <button [disabled]="!dovoljenjeNapredovanja" (click)="naslednjeVprasanje('')">
          Naprej
        </button>
      </div>

<!--      TEXTBOX-->
      <div *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.textbox].valueOf()">
        <label for="{{ trenutnoVprasanje.idVprasanje }}">{{ trenutnoVprasanje.navodilo }}</label><br/>
        <input #odgovor type="text" id="{{ trenutnoVprasanje.idVprasanje }}" name="odgovor">
        <button [disabled]="!dovoljenjeNapredovanja" (click)="naslednjeVprasanje(odgovor.value)">
          Naprej
        </button>
      </div>
<!--      TEXTAREA-->
      <div *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.textarea].valueOf()">
        <label for="{{ trenutnoVprasanje.idVprasanje }}">{{ trenutnoVprasanje.navodilo }}</label><br/>
        <textarea #odgovor type="area" id="{{ trenutnoVprasanje.idVprasanje }}" name="odgovor"></textarea>

        <button [disabled]="!dovoljenjeNapredovanja" (click)="naslednjeVprasanje(odgovor.value)">
          Naprej
        </button>
      </div>
<!--      RADIOBUTTON-->
      <div *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.radiobutton].valueOf()">
        <span>{{ trenutnoVprasanje.navodilo }}</span>
        <div>
          <div *ngFor="let odgovor of trenutnoVprasanje.podaniOdgovori">
            <input type="radio" id="{{ odgovor.id }}" value="{{ odgovor.odgovor }}" (click)="checkBoxTicked(odgovor)">
            <label for="{{ odgovor.id }}">{{ odgovor.odgovor }}</label>
          </div>
        </div>

        <button [disabled]="!dovoljenjeNapredovanja" (click)="naslednjeVprasanje('odgovor.value')">
          Naprej
        </button>
      </div>
<!--      CHECKBOX-->
      <div *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.checkbox].valueOf()">
        <span>{{ trenutnoVprasanje.navodilo }}</span>

        <div>
          <div *ngFor="let odgovor of trenutnoVprasanje.podaniOdgovori">
            <input type="checkbox" id="{{ odgovor.id }}" value="{{ odgovor.odgovor }}" (click)="checkBoxTicked(odgovor)">
            <label for="{{ odgovor.id }}">{{ odgovor.odgovor }}</label>
          </div>
        </div>

        <button [disabled]="!dovoljenjeNapredovanja" (click)="naslednjeVprasanje('odgovor.value')">
          Naprej
        </button>
      </div>
<!--      TOCKE-->
      <div *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.tocke].valueOf()">
        <span>{{ trenutnoVprasanje.navodilo }}</span>
        <span>{{ steviloTock }}</span>

        <button [disabled]="!dovoljenjeNapredovanja" (click)="naslednjeVprasanje('odgovor.value')">
          Naprej
        </button>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="!jeAktivnaSeja">
  Trenutna seja ni na voljo.
</div>


