<ng-container *ngIf="!loading && jeAktivnaSeja">
  <div class="text-center" *ngIf="!jeKonec">

    <div>
      <h1 class="text-4xl font-bold">Dobrodosli v Vprasalnik</h1>
      <div class="mt-4" *ngIf="sifraUporabnika">
        <span class="font-semibold mr-1">Vasa sifra:</span>
        <span>{{ sifraUporabnika }}</span>
      </div>
    </div>
<!--    VPRASANJA-->
    <div class="w-11/12 lg:w-1/2 md:w-3/4 mx-auto mt-8 pb-4 bg-gray-100 rounded-lg border-2 border-black">

<!--      NAVODILO-->
      <div class="flex flex-col mt-8 w-11/12 mx-auto" *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.navodila].valueOf()">
        <h2>Navodila</h2>
        <span [innerHTML]="trenutnoVprasanje.navodilo"></span><br/>

        <button class="border border-black p-2 my-2 rounded w-24 mx-auto bg-white" [disabled]="!trenutnoVprasanje.dovoljenjeNapredovanja" (click)="naslednjeVprasanje('')">
          Naprej
        </button>
      </div>

<!--      TEXTBOX-->
      <div class="flex flex-col mt-8 w-11/12 mx-auto" *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.textbox].valueOf()">
        <label for="{{ trenutnoVprasanje.idVprasanje }}" [innerHTML]="trenutnoVprasanje.navodilo"></label><br/>
        <input class="lg:w-1/4 mx-auto" #odgovor type="text" id="{{ trenutnoVprasanje.idVprasanje }}" name="odgovor">
        <button class="border border-black p-2 my-2 rounded w-24 mx-auto bg-white" [disabled]="!trenutnoVprasanje.dovoljenjeNapredovanja" [hidden]="jeZadnjeVprasanje" (click)="naslednjeVprasanje(odgovor.value)">
          Naprej
        </button>
      </div>

<!--      TEXTAREA-->
      <div class="flex flex-col mt-8 w-11/12 mx-auto" *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.textarea].valueOf()">
        <label for="{{ trenutnoVprasanje.idVprasanje }}" [innerHTML]="trenutnoVprasanje.navodilo"></label><br/>
        <textarea #odgovor type="area" id="{{ trenutnoVprasanje.idVprasanje }}" name="odgovor"></textarea>

        <button class="border border-black p-2 my-2 rounded w-24 mx-auto bg-white" [disabled]="!trenutnoVprasanje.dovoljenjeNapredovanja" [hidden]="jeZadnjeVprasanje" (click)="naslednjeVprasanje(odgovor.value)">
          Naprej
        </button>
      </div>

<!--      RADIOBUTTON-->
      <div class="flex flex-col mt-8 w-11/12 mx-auto" *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.radiobutton].valueOf()">
        <span [innerHTML]="trenutnoVprasanje.navodilo"></span>
        <div class="mt-2">
          <div class="flex" *ngFor="let odgovor of trenutnoVprasanje.podaniOdgovori">
            <div>
              <input #odgovor type="radio" id="{{ odgovor.id }}" name="radio" value="{{ odgovor.odgovor }}" (click)="radioButtonSelected(odgovor)">
              <label class="ml-0.5 align-middle" for="{{ odgovor.id }}" [innerHTML]="odgovor.odgovor"></label>
            </div>
          </div>
        </div>

        <button class="border border-black p-2 my-2 rounded w-24 mx-auto bg-white" [disabled]="!trenutnoVprasanje.dovoljenjeNapredovanja" [hidden]="jeZadnjeVprasanje" (click)="naslednjeVprasanje('odgovor.value')">
          Naprej
        </button>
      </div>

<!--      CHECKBOX-->
      <div class="flex flex-col mt-8 w-11/12 mx-auto" *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.checkbox].valueOf()">
        <span [innerHTML]="trenutnoVprasanje.navodilo"></span>

        <div class="mt-2">
          <div class="flex" *ngFor="let odgovor of trenutnoVprasanje.podaniOdgovori">
            <div>
              <input type="checkbox" id="{{ odgovor.id }}" value="{{ odgovor.odgovor }}" (click)="checkBoxTicked(odgovor)">
              <label class="ml-0.5 align-middle" for="{{ odgovor.id }}" [innerHTML]="odgovor.odgovor"></label>
            </div>
          </div>
        </div>

        <button class="border border-black p-2 my-2 rounded w-24 mx-auto bg-white" [disabled]="!trenutnoVprasanje.dovoljenjeNapredovanja" [hidden]="jeZadnjeVprasanje" (click)="naslednjeVprasanje('odgovor.value')">
          Naprej
        </button>
      </div>

<!--      TOCKE-->
      <div class="flex flex-col mt-8" *ngIf="trenutnoVprasanje.tip.toString() == TipVprasanja[TipVprasanja.tocke].valueOf()">
        <span [innerHTML]="trenutnoVprasanje.navodilo"></span>
        <span>{{ steviloTock }}</span>

        <button class="border border-black p-2 my-2 rounded w-24 mx-auto bg-white" [disabled]="!trenutnoVprasanje.dovoljenjeNapredovanja" [hidden]="jeZadnjeVprasanje" (click)="naslednjeVprasanje('odgovor.value')">
          Naprej
        </button>
      </div>
    </div>
    <button class="border border-black p-2 my-2 rounded w-24 mx-auto bg-white" [hidden]="!jeZadnjeVprasanje" (click)="zakljuci()">Zakljuci</button>
  </div>

<!--  ZAKLJUCEK-->
  <div *ngIf="jeKonec" class="text-center">
    <span>Vprasalnik ste zakljucili, hvala za sodelovanje!</span>
  </div>
</ng-container>

<!--SEJA NI NA VOLJO-->
<div *ngIf="!jeAktivnaSeja" class="text-center">
  Trenutna seja ni na voljo.
</div>


